<div class="col-md-6 offset-md-3">
  <h3> Update Employee </h3>

  <!-- <form #update="ngForm">
        <div class="form-group">
          <label for="exampleInputEmail1">productId</label>
          <input type="text" #productId [(ngModel)]="producttoupdate.productId" name="productId" id="productId" class="form-control" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
        <div class="form-group">
            <label for="exampleInputEmail1">productType</label>
            <input type="text" #productType [(ngModel)]="producttoupdate.productType" name="productType" id="productType" class="form-control"  aria-describedby="emailHelp" placeholder="Enter email">
          </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form> -->