<h2>Products<h2>
    <nav>
        <button class="btn btn-primary btn-sm" (click)=showcart()>Cart</button>
    </nav>
        <div class="container d-flex justify-content-center mt-50 mb-50">
            <div class="row">
                <div class="col-md-4 mt-2" *ngFor="let prod of products">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-img-actions"> <img src="{{prod.image}}" class="card-img img-fluid"
                                    width="96px" height="350px" alt=""
                                    style="height: 300px!important;width:370px!important;"> </div>
                        </div>
                        <div class="card-body bg-light text-center">
                            <div class="mb-2">
                                <h6 class="font-weight-semibold mb-2"> <a href="#" class="text-default mb-2"
                                        data-abc="true">{{prod.productName}}</a> </h6> <a href="#" class="text-muted"
                                    data-abc="true">{{prod.category}}</a>
                            </div>
                            <h3 class="mb-0 font-weight-semibold">{{prod.price}}/-</h3>
                            <div> <i class="fa fa-star star"></i> <i class="fa fa-star star"></i> <i
                                    class="fa fa-star star"></i> <i class="fa fa-star star"></i> </div>
                            <div>
                                <h6>{{prod.description}}</h6>
                            </div>
                            <div>
                                <h6>Ratings:{{prod.rating }}</h6>
                            </div>
                            <div>
                                <h6>Review:{{prod.review }}</h6>
                            </div>
                            <div>
                                <h6>Specification:{{prod.specification }}</h6>
                            </div>
                            <button type="button" class="btn bg-cart" (click)='addCart(prod)' > Add to cart</button>
                        </div>
                    </div>
                </div>
            </div>