<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">CartMart</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink='/home'>Home </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink='/admin' *ngIf="userService.roleMatch(['admin'])">Admin</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="#" routerLink='/user' *ngIf="userService.roleMatch(['user'])">User</a>
      </li>




    </ul>
    <button *ngIf="!isLoggedIn()" type="button" class="btn btn-primary btn-sm" routerLink='/login'>Login</button>&nbsp;
    &nbsp;
    <button *ngIf="isLoggedIn()" type="button" class="btn btn-primary btn-sm" (click)="logout()">Logout</button>
  </div>
</nav>